@page "/students"

<h2>Students</h2>

<MudPaper Class="pa-5 ma-1">

    <div class="row" style="margin-bottom:10px;">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="CreateNew"  Size="Size.Small" />

    </div>

    <div class="row">
        <div class="col">
            <StudentTable Students="StudentDtoList" OnDeleted="DeleteStudent" />
        </div>
    </div>

</MudPaper>


@code {

    [Inject]
    public IBaseService<StudentDto> Studentservice { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<StudentDto> StudentDtoList { get; set; } = new List<StudentDto>();

    protected async override Task OnInitializedAsync()
    {
        StudentDtoList =await Studentservice.GetAllAsync();
        //just for testing
        foreach (var product in StudentDtoList)
        {
            Console.WriteLine(product.Name);
        }
    }

    private async Task GetStudents()
    {
        StudentDtoList = await Studentservice.GetAllAsync();
    }

     private async Task CreateNew()
    {
        NavigationManager.NavigateTo("students/createstudent");
    }

    private async Task DeleteStudent(string id)
    {
        await Studentservice.Delete(id);
        //_productParameters.PageNumber = 1;
        await GetStudents();
        StateHasChanged();
        //NavigationManager.NavigateTo("/Students");
    }
}
