@page "/teachers"

<h2>Teachers</h2>

<MudPaper Class="pa-5 ma-1">

    <div class="row" style="margin-bottom:10px;">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="CreateNew"  Size="Size.Small" />

    </div>

    <div class="row">
        <div class="col">
            <TeacherTable Teachers="TeacherDtoList" OnDeleted="DeleteTeacher" />
        </div>
    </div>

</MudPaper>


@code {

    [Inject]
    public IBaseService<TeacherDto> TeacherService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<TeacherDto> TeacherDtoList { get; set; } = new List<TeacherDto>();

    protected async override Task OnInitializedAsync()
    {
        TeacherDtoList =await TeacherService.GetAllAsync();
        //just for testing
        foreach (var product in TeacherDtoList)
        {
            Console.WriteLine(product.Name);
        }
    }

    private async Task GetTeachers()
    {
        TeacherDtoList = await TeacherService.GetAllAsync();
    }

     private async Task CreateNew()
    {
        NavigationManager.NavigateTo("teachers/createteacher");
    }

    private async Task DeleteTeacher(string id)
    {
        await TeacherService.Delete(id);
        //_productParameters.PageNumber = 1;
        await GetTeachers();
        StateHasChanged();
        //NavigationManager.NavigateTo("/Teachers");
    }
}
