@page "/courses/createcourse"

<h2>Create Course Form</h2>

<EditForm Model="@_course" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>

                    <MudTextField Label="Name" HelperText="'Name' is required field"
                                  @bind-Value="_course.Name" For="@(() => _course.Name)" />

                    <MudTextField Label="Desc" HelperText="'Desc' is required field"
                                  @bind-Value="_course.Desc" For="@(() => _course.Desc)" />
                 
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Inject]
    public IBaseService<CourseDto> courseService { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    private CourseDto _course = new CourseDto();
    bool success;

    private async Task OnValidSubmit(EditContext context)
    {
        await courseService.CreateAsync(_course);
        success = true;
        StateHasChanged();
        NavigationManager.NavigateTo("/courses");
    }

    //private async Task Create()
    //{
    //    await courseService.CreateAsync(_course);
    //    _notification.Show();
    //}
}
